@use '@angular/material' as mat;

.font-common {
  @include mat.all-component-typographies(mat.define-theme((
          typography: (
                  brand-family: 'Roboto, sans-serif',
                  plain-family: 'Roboto, sans-serif',
          )
  )));
  //font weight and style variables
  --mat-sys-body-large-font: Roboto, sans-serif;
  --mat-sys-body-medium-font: Roboto, sans-serif;
  --mat-sys-body-small-font: Roboto, sans-serif;
  --mat-sys-display-large-font: Roboto, sans-serif;
  --mat-sys-display-medium-font: Roboto, sans-serif;
  --mat-sys-display-small-font: Roboto, sans-serif;
  --mat-sys-headline-large-font: Roboto, sans-serif;
  --mat-sys-headline-medium-font: Roboto, sans-serif;
  --mat-sys-headline-small-font: Roboto, sans-serif;
  --mat-sys-label-large-font: Roboto, sans-serif;
  --mat-sys-label-medium-font: Roboto, sans-serif;
  --mat-sys-label-small-font: Roboto, sans-serif;
  --mat-sys-title-large-font: Roboto, sans-serif;
  --mat-sys-title-medium-font: Roboto, sans-serif;
  --mat-sys-title-small-font: Roboto, sans-serif;
  --mat-sys-body-large-weight: 400;
  --mat-sys-body-medium-weight: 400;
  --mat-sys-body-small-weight: 400;
  --mat-sys-display-large-weight: 400;
  --mat-sys-display-medium-weight: 400;
  --mat-sys-display-small-weight: 400;
  --mat-sys-headline-large-weight: 400;
  --mat-sys-headline-medium-weight: 400;
  --mat-sys-headline-small-weight: 400;
  --mat-sys-label-large-weight: 500;
  --mat-sys-label-medium-weight: 500;
  --mat-sys-label-small-weight: 500;
  --mat-sys-title-large-weight: 400;
  --mat-sys-title-medium-weight: 500;
  --mat-sys-title-small-weight: 500;
}

.font-xs {
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-display-large-tracking: 0.016rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-body-large-line-height: 1.3rem;
  --mat-sys-body-large-size: 0.8rem;
  --mat-sys-body-medium-line-height: 1.05rem;
  --mat-sys-body-medium-size: 0.675rem;
  --mat-sys-body-small-line-height: 0.8rem;
  --mat-sys-body-small-size: 0.55rem;
  --mat-sys-display-large-line-height: 3.8rem;
  --mat-sys-display-large-size: 3.362rem;
  --mat-sys-display-medium-line-height: 3.05rem;
  --mat-sys-display-medium-size: 2.612rem;
  --mat-sys-display-small-line-height: 2.55rem;
  --mat-sys-display-small-size: 2.05rem;
  --mat-sys-headline-large-line-height: 2.3rem;
  --mat-sys-headline-large-size: 1.8rem;
  --mat-sys-headline-medium-line-height: 2.05rem;
  --mat-sys-headline-medium-size: 1.55rem;
  --mat-sys-headline-small-line-height: 1.8rem;
  --mat-sys-headline-small-size: 1.3rem;
  --mat-sys-label-large-line-height: 1.05rem;
  --mat-sys-label-large-size: 0.675rem;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium-line-height: 0.8rem;
  --mat-sys-label-medium-size: 0.55rem;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small-line-height: 0.8rem;
  --mat-sys-label-small-size: 0.488rem;
  --mat-sys-title-large-line-height: 1.25rem;
  --mat-sys-title-large-size: 0.875rem;
  --mat-sys-title-medium-line-height: 1.3rem;
  --mat-sys-title-medium-size: 0.8rem;
  --mat-sys-title-small-line-height: 1.05rem;
  --mat-sys-title-small-size: 0.675rem;
  --mat-sys-body-large: var(--mat-sys-body-large-weight) var(--mat-sys-body-large-size) / var(--mat-sys-body-large-line-height) var(--mat-sys-body-large-font);
  --mat-sys-body-medium: var(--mat-sys-body-medium-weight) var(--mat-sys-body-medium-size) / var(--mat-sys-body-medium-line-height) var(--mat-sys-body-medium-font);
  --mat-sys-body-small: var(--mat-sys-body-small-weight) var(--mat-sys-body-small-size) / var(--mat-sys-body-small-line-height) var(--mat-sys-body-small-font);
  --mat-sys-display-large: var(--mat-sys-display-large-weight) var(--mat-sys-display-large-size) / var(--mat-sys-display-large-line-height) var(--mat-sys-display-large-font);
  --mat-sys-display-medium: var(--mat-sys-display-medium-weight) var(--mat-sys-display-medium-size) / var(--mat-sys-display-medium-line-height) var(--mat-sys-display-medium-font);
  --mat-sys-display-small: var(--mat-sys-display-small-weight) var(--mat-sys-display-small-size) / var(--mat-sys-display-small-line-height) var(--mat-sys-display-small-font);
  --mat-sys-headline-large: var(--mat-sys-headline-large-weight) var(--mat-sys-headline-large-size) / var(--mat-sys-headline-large-line-height) var(--mat-sys-headline-large-font);
  --mat-sys-headline-medium: var(--mat-sys-headline-medium-weight) var(--mat-sys-headline-medium-size) / var(--mat-sys-headline-medium-line-height) var(--mat-sys-headline-medium-font);
  --mat-sys-headline-small: var(--mat-sys-headline-small-weight) var(--mat-sys-headline-small-size) / var(--mat-sys-headline-small-line-height) var(--mat-sys-headline-small-font);
  --mat-sys-label-large: var(--mat-sys-label-large-weight) var(--mat-sys-label-large-size) / var(--mat-sys-label-large-line-height) var(--mat-sys-label-large-font);
  --mat-sys-label-medium: var(--mat-sys-label-medium-weight) var(--mat-sys-label-medium-size) / var(--mat-sys-label-medium-line-height) var(--mat-sys-label-medium-font);
  --mat-sys-label-small: var(--mat-sys-label-small-weight) var(--mat-sys-label-small-size) / var(--mat-sys-label-small-line-height) var(--mat-sys-label-small-font);
  --mat-sys-title-large: var(--mat-sys-title-large-weight) var(--mat-sys-title-large-size) / var(--mat-sys-title-large-line-height) var(--mat-sys-title-large-font);
  --mat-sys-title-medium: var(--mat-sys-title-medium-weight) var(--mat-sys-title-medium-size) / var(--mat-sys-title-medium-line-height) var(--mat-sys-title-medium-font);
  --mat-sys-title-small: var(--mat-sys-title-small-weight) var(--mat-sys-title-small-size) / var(--mat-sys-title-small-line-height) var(--mat-sys-title-small-font);
  --font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 48;
  --symbol-font-size: 1.25rem;
}

.font-s {
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-display-large-tracking: 0.016rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-body-large-line-height: 1.4rem;
  --mat-sys-body-large-size: 0.9rem;
  --mat-sys-body-medium-line-height: 1.15rem;
  --mat-sys-body-medium-size: 0.775rem;
  --mat-sys-body-small-line-height: 0.9rem;
  --mat-sys-body-small-size: 0.65rem;
  --mat-sys-display-large-line-height: 3.9rem;
  --mat-sys-display-large-size: 3.462rem;
  --mat-sys-display-medium-line-height: 3.15rem;
  --mat-sys-display-medium-size: 2.712rem;
  --mat-sys-display-small-line-height: 2.65rem;
  --mat-sys-display-small-size: 2.15rem;
  --mat-sys-headline-large-line-height: 2.4rem;
  --mat-sys-headline-large-size: 1.9rem;
  --mat-sys-headline-medium-line-height: 2.15rem;
  --mat-sys-headline-medium-size: 1.65rem;
  --mat-sys-headline-small-line-height: 1.9rem;
  --mat-sys-headline-small-size: 1.4rem;
  --mat-sys-label-large-line-height: 1.15rem;
  --mat-sys-label-large-size: 0.775rem;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium-line-height: 0.9rem;
  --mat-sys-label-medium-size: 0.65rem;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small-line-height: 0.9rem;
  --mat-sys-label-small-size: 0.588rem;
  --mat-sys-title-large-line-height: 1.35rem;
  --mat-sys-title-large-size: 0.975rem;
  --mat-sys-title-medium-line-height: 1.4rem;
  --mat-sys-title-medium-size: 0.9rem;
  --mat-sys-title-small-line-height: 1.15rem;
  --mat-sys-title-small-size: 0.775rem;
  --mat-sys-body-large: var(--mat-sys-body-large-weight) var(--mat-sys-body-large-size) / var(--mat-sys-body-large-line-height) var(--mat-sys-body-large-font);
  --mat-sys-body-medium: var(--mat-sys-body-medium-weight) var(--mat-sys-body-medium-size) / var(--mat-sys-body-medium-line-height) var(--mat-sys-body-medium-font);
  --mat-sys-body-small: var(--mat-sys-body-small-weight) var(--mat-sys-body-small-size) / var(--mat-sys-body-small-line-height) var(--mat-sys-body-small-font);
  --mat-sys-display-large: var(--mat-sys-display-large-weight) var(--mat-sys-display-large-size) / var(--mat-sys-display-large-line-height) var(--mat-sys-display-large-font);
  --mat-sys-display-medium: var(--mat-sys-display-medium-weight) var(--mat-sys-display-medium-size) / var(--mat-sys-display-medium-line-height) var(--mat-sys-display-medium-font);
  --mat-sys-display-small: var(--mat-sys-display-small-weight) var(--mat-sys-display-small-size) / var(--mat-sys-display-small-line-height) var(--mat-sys-display-small-font);
  --mat-sys-headline-large: var(--mat-sys-headline-large-weight) var(--mat-sys-headline-large-size) / var(--mat-sys-headline-large-line-height) var(--mat-sys-headline-large-font);
  --mat-sys-headline-medium: var(--mat-sys-headline-medium-weight) var(--mat-sys-headline-medium-size) / var(--mat-sys-headline-medium-line-height) var(--mat-sys-headline-medium-font);
  --mat-sys-headline-small: var(--mat-sys-headline-small-weight) var(--mat-sys-headline-small-size) / var(--mat-sys-headline-small-line-height) var(--mat-sys-headline-small-font);
  --mat-sys-label-large: var(--mat-sys-label-large-weight) var(--mat-sys-label-large-size) / var(--mat-sys-label-large-line-height) var(--mat-sys-label-large-font);
  --mat-sys-label-medium: var(--mat-sys-label-medium-weight) var(--mat-sys-label-medium-size) / var(--mat-sys-label-medium-line-height) var(--mat-sys-label-medium-font);
  --mat-sys-label-small: var(--mat-sys-label-small-weight) var(--mat-sys-label-small-size) / var(--mat-sys-label-small-line-height) var(--mat-sys-label-small-font);
  --mat-sys-title-large: var(--mat-sys-title-large-weight) var(--mat-sys-title-large-size) / var(--mat-sys-title-large-line-height) var(--mat-sys-title-large-font);
  --mat-sys-title-medium: var(--mat-sys-title-medium-weight) var(--mat-sys-title-medium-size) / var(--mat-sys-title-medium-line-height) var(--mat-sys-title-medium-font);
  --mat-sys-title-small: var(--mat-sys-title-small-weight) var(--mat-sys-title-small-size) / var(--mat-sys-title-small-line-height) var(--mat-sys-title-small-font);
  --font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 48;
  --symbol-font-size: 1.25rem;
}

.font-m {
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-display-large-tracking: 0.016rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-body-large-line-height: 1.5rem;
  --mat-sys-body-large-size: 1rem;
  --mat-sys-body-medium-line-height: 1.25rem;
  --mat-sys-body-medium-size: 0.875rem;
  --mat-sys-body-small-line-height: 1rem;
  --mat-sys-body-small-size: 0.75rem;
  --mat-sys-display-large-line-height: 4rem;
  --mat-sys-display-large-size: 3.562rem;
  --mat-sys-display-medium-line-height: 3.25rem;
  --mat-sys-display-medium-size: 2.812rem;
  --mat-sys-display-small-line-height: 2.75rem;
  --mat-sys-display-small-size: 2.25rem;
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-title-large-line-height: 1.45rem;
  --mat-sys-title-large-size: 1.075rem;
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-body-large: var(--mat-sys-body-large-weight) var(--mat-sys-body-large-size) / var(--mat-sys-body-large-line-height) var(--mat-sys-body-large-font);
  --mat-sys-body-medium: var(--mat-sys-body-medium-weight) var(--mat-sys-body-medium-size) / var(--mat-sys-body-medium-line-height) var(--mat-sys-body-medium-font);
  --mat-sys-body-small: var(--mat-sys-body-small-weight) var(--mat-sys-body-small-size) / var(--mat-sys-body-small-line-height) var(--mat-sys-body-small-font);
  --mat-sys-display-large: var(--mat-sys-display-large-weight) var(--mat-sys-display-large-size) / var(--mat-sys-display-large-line-height) var(--mat-sys-display-large-font);
  --mat-sys-display-medium: var(--mat-sys-display-medium-weight) var(--mat-sys-display-medium-size) / var(--mat-sys-display-medium-line-height) var(--mat-sys-display-medium-font);
  --mat-sys-display-small: var(--mat-sys-display-small-weight) var(--mat-sys-display-small-size) / var(--mat-sys-display-small-line-height) var(--mat-sys-display-small-font);
  --mat-sys-headline-large: var(--mat-sys-headline-large-weight) var(--mat-sys-headline-large-size) / var(--mat-sys-headline-large-line-height) var(--mat-sys-headline-large-font);
  --mat-sys-headline-medium: var(--mat-sys-headline-medium-weight) var(--mat-sys-headline-medium-size) / var(--mat-sys-headline-medium-line-height) var(--mat-sys-headline-medium-font);
  --mat-sys-headline-small: var(--mat-sys-headline-small-weight) var(--mat-sys-headline-small-size) / var(--mat-sys-headline-small-line-height) var(--mat-sys-headline-small-font);
  --mat-sys-label-large: var(--mat-sys-label-large-weight) var(--mat-sys-label-large-size) / var(--mat-sys-label-large-line-height) var(--mat-sys-label-large-font);
  --mat-sys-label-medium: var(--mat-sys-label-medium-weight) var(--mat-sys-label-medium-size) / var(--mat-sys-label-medium-line-height) var(--mat-sys-label-medium-font);
  --mat-sys-label-small: var(--mat-sys-label-small-weight) var(--mat-sys-label-small-size) / var(--mat-sys-label-small-line-height) var(--mat-sys-label-small-font);
  --mat-sys-title-large: var(--mat-sys-title-large-weight) var(--mat-sys-title-large-size) / var(--mat-sys-title-large-line-height) var(--mat-sys-title-large-font);
  --mat-sys-title-medium: var(--mat-sys-title-medium-weight) var(--mat-sys-title-medium-size) / var(--mat-sys-title-medium-line-height) var(--mat-sys-title-medium-font);
  --mat-sys-title-small: var(--mat-sys-title-small-weight) var(--mat-sys-title-small-size) / var(--mat-sys-title-small-line-height) var(--mat-sys-title-small-font);
  --font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 48;
  --symbol-font-size: 1.4rem;
}

.font-l {
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-display-large-tracking: 0.016rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-small-tracking: 0.006rem;

  --mat-sys-body-large-line-height: 1.6rem;
  --mat-sys-body-large-size: 1.1rem;
  --mat-sys-body-medium-line-height: 1.35rem;
  --mat-sys-body-medium-size: 0.975rem;
  --mat-sys-body-small-line-height: 1.1rem;
  --mat-sys-body-small-size: 0.85rem;
  --mat-sys-display-large-line-height: 4.1rem;
  --mat-sys-display-large-size: 3.662rem;
  --mat-sys-display-medium-line-height: 3.35rem;
  --mat-sys-display-medium-size: 2.912rem;
  --mat-sys-display-small-line-height: 2.85rem;
  --mat-sys-display-small-size: 2.35rem;
  --mat-sys-headline-large-line-height: 2.6rem;
  --mat-sys-headline-large-size: 2.1rem;
  --mat-sys-headline-medium-line-height: 2.35rem;
  --mat-sys-headline-medium-size: 1.85rem;
  --mat-sys-headline-small-line-height: 2.1rem;
  --mat-sys-headline-small-size: 1.6rem;
  --mat-sys-label-large-line-height: 1.35rem;
  --mat-sys-label-large-size: 0.975rem;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium-line-height: 1.1rem;
  --mat-sys-label-medium-size: 0.85rem;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small-line-height: 1.1rem;
  --mat-sys-label-small-size: 0.788rem;
  --mat-sys-title-large-line-height: 1.55rem;
  --mat-sys-title-large-size: 1.175rem;
  --mat-sys-title-medium-line-height: 1.6rem;
  --mat-sys-title-medium-size: 1.1rem;
  --mat-sys-title-small-line-height: 1.35rem;
  --mat-sys-title-small-size: 0.975rem;

  --mat-sys-body-large: var(--mat-sys-body-large-weight) var(--mat-sys-body-large-size) / var(--mat-sys-body-large-line-height) var(--mat-sys-body-large-font);
  --mat-sys-body-medium: var(--mat-sys-body-medium-weight) var(--mat-sys-body-medium-size) / var(--mat-sys-body-medium-line-height) var(--mat-sys-body-medium-font);
  --mat-sys-body-small: var(--mat-sys-body-small-weight) var(--mat-sys-body-small-size) / var(--mat-sys-body-small-line-height) var(--mat-sys-body-small-font);
  --mat-sys-display-large: var(--mat-sys-display-large-weight) var(--mat-sys-display-large-size) / var(--mat-sys-display-large-line-height) var(--mat-sys-display-large-font);
  --mat-sys-display-medium: var(--mat-sys-display-medium-weight) var(--mat-sys-display-medium-size) / var(--mat-sys-display-medium-line-height) var(--mat-sys-display-medium-font);
  --mat-sys-display-small: var(--mat-sys-display-small-weight) var(--mat-sys-display-small-size) / var(--mat-sys-display-small-line-height) var(--mat-sys-display-small-font);
  --mat-sys-headline-large: var(--mat-sys-headline-large-weight) var(--mat-sys-headline-large-size) / var(--mat-sys-headline-large-line-height) var(--mat-sys-headline-large-font);
  --mat-sys-headline-medium: var(--mat-sys-headline-medium-weight) var(--mat-sys-headline-medium-size) / var(--mat-sys-headline-medium-line-height) var(--mat-sys-headline-medium-font);
  --mat-sys-headline-small: var(--mat-sys-headline-small-weight) var(--mat-sys-headline-small-size) / var(--mat-sys-headline-small-line-height) var(--mat-sys-headline-small-font);
  --mat-sys-label-large: var(--mat-sys-label-large-weight) var(--mat-sys-label-large-size) / var(--mat-sys-label-large-line-height) var(--mat-sys-label-large-font);
  --mat-sys-label-medium: var(--mat-sys-label-medium-weight) var(--mat-sys-label-medium-size) / var(--mat-sys-label-medium-line-height) var(--mat-sys-label-medium-font);
  --mat-sys-label-small: var(--mat-sys-label-small-weight) var(--mat-sys-label-small-size) / var(--mat-sys-label-small-line-height) var(--mat-sys-label-small-font);
  --mat-sys-title-large: var(--mat-sys-title-large-weight) var(--mat-sys-title-large-size) / var(--mat-sys-title-large-line-height) var(--mat-sys-title-large-font);
  --mat-sys-title-medium: var(--mat-sys-title-medium-weight) var(--mat-sys-title-medium-size) / var(--mat-sys-title-medium-line-height) var(--mat-sys-title-medium-font);
  --mat-sys-title-small: var(--mat-sys-title-small-weight) var(--mat-sys-title-small-size) / var(--mat-sys-title-small-line-height) var(--mat-sys-title-small-font);
  --font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 48;
  --symbol-font-size: 1.6rem;
}

.font-xl {
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-display-large-tracking: 0.016rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-small-tracking: 0.006rem;

  --mat-sys-body-large-line-height: 1.7rem;
  --mat-sys-body-large-size: 1.2rem;
  --mat-sys-body-medium-line-height: 1.45rem;
  --mat-sys-body-medium-size: 1.075rem;
  --mat-sys-body-small-line-height: 1.2rem;
  --mat-sys-body-small-size: 0.95rem;
  --mat-sys-display-large-line-height: 4.2rem;
  --mat-sys-display-large-size: 3.762rem;
  --mat-sys-display-medium-line-height: 3.45rem;
  --mat-sys-display-medium-size: 3.012rem;
  --mat-sys-display-small-line-height: 2.95rem;
  --mat-sys-display-small-size: 2.45rem;
  --mat-sys-headline-large-line-height: 2.7rem;
  --mat-sys-headline-large-size: 2.2rem;
  --mat-sys-headline-medium-line-height: 2.45rem;
  --mat-sys-headline-medium-size: 1.95rem;
  --mat-sys-headline-small-line-height: 2.2rem;
  --mat-sys-headline-small-size: 1.7rem;
  --mat-sys-label-large-line-height: 1.45rem;
  --mat-sys-label-large-size: 1.075rem;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium-line-height: 1.2rem;
  --mat-sys-label-medium-size: 0.95rem;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small-line-height: 1.2rem;
  --mat-sys-label-small-size: 0.888rem;
  --mat-sys-title-large-line-height: 1.65rem;
  --mat-sys-title-large-size: 1.275rem;
  --mat-sys-title-medium-line-height: 1.7rem;
  --mat-sys-title-medium-size: 1.2rem;
  --mat-sys-title-small-line-height: 1.45rem;
  --mat-sys-title-small-size: 1.075rem;
  --mat-sys-body-large: var(--mat-sys-body-large-weight) var(--mat-sys-body-large-size) / var(--mat-sys-body-large-line-height) var(--mat-sys-body-large-font);
  --mat-sys-body-medium: var(--mat-sys-body-medium-weight) var(--mat-sys-body-medium-size) / var(--mat-sys-body-medium-line-height) var(--mat-sys-body-medium-font);
  --mat-sys-body-small: var(--mat-sys-body-small-weight) var(--mat-sys-body-small-size) / var(--mat-sys-body-small-line-height) var(--mat-sys-body-small-font);
  --mat-sys-display-large: var(--mat-sys-display-large-weight) var(--mat-sys-display-large-size) / var(--mat-sys-display-large-line-height) var(--mat-sys-display-large-font);
  --mat-sys-display-medium: var(--mat-sys-display-medium-weight) var(--mat-sys-display-medium-size) / var(--mat-sys-display-medium-line-height) var(--mat-sys-display-medium-font);
  --mat-sys-display-small: var(--mat-sys-display-small-weight) var(--mat-sys-display-small-size) / var(--mat-sys-display-small-line-height) var(--mat-sys-display-small-font);
  --mat-sys-headline-large: var(--mat-sys-headline-large-weight) var(--mat-sys-headline-large-size) / var(--mat-sys-headline-large-line-height) var(--mat-sys-headline-large-font);
  --mat-sys-headline-medium: var(--mat-sys-headline-medium-weight) var(--mat-sys-headline-medium-size) / var(--mat-sys-headline-medium-line-height) var(--mat-sys-headline-medium-font);
  --mat-sys-headline-small: var(--mat-sys-headline-small-weight) var(--mat-sys-headline-small-size) / var(--mat-sys-headline-small-line-height) var(--mat-sys-headline-small-font);
  --mat-sys-label-large: var(--mat-sys-label-large-weight) var(--mat-sys-label-large-size) / var(--mat-sys-label-large-line-height) var(--mat-sys-label-large-font);
  --mat-sys-label-medium: var(--mat-sys-label-medium-weight) var(--mat-sys-label-medium-size) / var(--mat-sys-label-medium-line-height) var(--mat-sys-label-medium-font);
  --mat-sys-label-small: var(--mat-sys-label-small-weight) var(--mat-sys-label-small-size) / var(--mat-sys-label-small-line-height) var(--mat-sys-label-small-font);
  --mat-sys-title-large: var(--mat-sys-title-large-weight) var(--mat-sys-title-large-size) / var(--mat-sys-title-large-line-height) var(--mat-sys-title-large-font);
  --mat-sys-title-medium: var(--mat-sys-title-medium-weight) var(--mat-sys-title-medium-size) / var(--mat-sys-title-medium-line-height) var(--mat-sys-title-medium-font);
  --mat-sys-title-small: var(--mat-sys-title-small-weight) var(--mat-sys-title-small-size) / var(--mat-sys-title-small-line-height) var(--mat-sys-title-small-font);
  --font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 200, 'opsz' 48;
  --symbol-font-size: 1.7rem;
}

